#registration {
	border: 1px solid black;
	width: 400px;
	display: inline-block;
	margin: 20px;
	padding: 20px;
}

#login {
	border: 1px solid black;
	width: 400px;
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	padding: 20px;
}

.blue {
	color: white;
	background-color: blue;
}

.green {
	color: white;
	background-color: green;
}

.error {
	color: red;
}

label,{
	display: inline-block;
}

input, textarea {
	margin: 10px;
	display: block;
}

button {
	margin: 10px 0;
}
