<div id="header">
	<button (click)="logout()">Logout</button>
	<h2>Can you answer this:</h2>
	<h3>{{ question }}</h3>
	<a [routerLink]="['/home']">Home</a>
	<a [routerLink]="['/question/', q_id]">Go back to question</a>
</div>

<div id="answerForm">
	<form (submit)="createAnswer(); answerForm.reset()" #answerForm="ngForm" >
		<label for="answer">Your Answer: </label>
			<textarea name="answer" rows="5" cols="30" [(ngModel)]="newAnswer.answer" #answer="ngModel" minlength="5" required ></textarea><p class="error" *ngIf="answer.touched && !answer.valid">Question must be at least 5 characters long</p>
		<label for="details">Supporting details(optional): </label>
			<textarea name="details" rows="5" cols="30" [(ngModel)]="newAnswer.details" #description="ngModel"></textarea>
		<a [routerLink]="['/home']"><button>Cancel</button></a>
		<button [ngClass]="{blue: answerForm.valid}" [disabled]="!answerForm.valid" type="submit">Submit Answer</button>
	</form>
</div>
