#header {
	margin: 10px;
}

label {
	display: inline-block;
}

input, textarea {
	margin: 10px;
	display: block;
}

button {
	margin: 10px 0;
}

.error{
	color: red
}

.blue {
	color: white;
	background-color: blue;
	border-radius: 5px;
}
